.font-regular {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.font-black {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.font-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.font-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

* {
  position: relative;
}

.breaker {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2f2f2f;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}

.justify-text {
  text-align: justify;
}

.navbar {
  background-color: rgba( 255, 255, 2555, .0);
  border-bottom: 0 none;
  font-size: 12px;
  transition: .25s all linear;
}

.navbar .nav a {
  color: 000000;
  font-weight: 400;
  font-size: 16px;
}

.navbar .nav a:hover, .navbar .nav a:focus {
  background: none;
}
.navbar .active a {
  border-bottom: 2px solid #F1C40F;
}

.navbar-scrolled {
  background-color: rgba( 0, 0, 0, .5);
}

.navbar-toggle i {
  color: 000000;
  font-size: 22px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #process .content-row h2 {
    min-height: 6em;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: rgba( 0, 0, 0, .8);
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

table {border-spacing: 0; border-collapse:separate;}
.slide {
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 65px;
  padding-top: 50px;
  text-align: center;
}

#intro {
  background-image: url('../img/grid_bg.jpg');
  color: #ffffff;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-attachment: relative;
  background-position: center center;
}

#intro h1 {
  padding-top: 130px;
}

@media (max-width: 991px) {
  #intro {
    background-position: -70% 0, 170% 0;
  }
}

@media (max-width: 767px) {
  #intro {
    background-image: none;
  }
}

#home-row-1, #home-row-2 {
  padding-top: 25px;
}

#home-row-1 h1 {
  font-size: 54px;
}

#home-row-1 h4 {
  font-size: 32px;
}

#home-row-2 {
  font-size: 25px;
}

#home-row-2 .col-12 {
  height: 232px;
  padding-top: 30px;
}

#home-row-2 .col-12 .home-hover {
  height: 166px;
  overflow: hidden;
  padding-top: 26px;
  transition: all ease-in .5s;
}

#home-row-2 .col-12 .home-hover:hover {
  height: 166px;
  padding-top: 0;
}

@media (max-width: 767px) {
  #home-row-1, #home-row-2 {
    padding-top: 16px;
  }
  #home-row-1 h1 {
    font-size: 35px;
  }
  #home-row-1 h4 {
    font-size: 21px;
  }
  #home-row-2 {
    font-size: 16px;
  }
}

#labrab1 {
  background-color: #e6dcf2;
  color: #333;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#labrab2 {
  background-color: #fff;
  color: #e4e6e5;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#labrab3 {
  background-color: #fff;
  color: #e4e6e5;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#labrab4 {
  background-color: #fff;
  color: #e4e6e5;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#labrab5 {
  background-color: #fff;
  color: #e4e6e5;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#labrab6 {
  background-color: #fff;
  color: #e4e6e5;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#labrab7 {
  background-color: #fff;
  color: #e4e6e5;
  padding-top: 90px;
}
.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

#slide-7 {
  background-color: #002654;
  color: #e4e6e5;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}

#lightbox-out {
  background-color: rgba( 0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.with-hover-text span {
  display: none;
}

.zoom {
  background-image: url('../img/zoom.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

#arrows {
  bottom: 10%;
  height: 80px;
  position: fixed;
  right: 10%;
  width: 80px;
  z-index: 1000;
}

#arrows div {
  background-image: url('../img/website-arrows.png');
  cursor: pointer;
  height: 30px;
  position: absolute;
  width: 30px;
}

#arrows div.disabled {
  cursor: default;
}

#arrow-up {
  background-position: 30px 0;
  left: 25px;
  top: 0;
}

#arrow-up.disabled {
  background-position: 0 0;
}

#arrow-down {
  background-position: 30px -30px;
  left: 25px;
  bottom: 0;
}

#arrow-down.disabled {
  background-position: 0 -30px;
}

#arrow-left {
  background-position: 30px -60px;
  left: 0;
  top: 25px;
}

#arrow-left.disabled {
  background-position: 0 -60px;
}

#arrow-right {
  background-position: 30px -90px;
  right: 0;
  top: 25px;
}

#arrow-right.disabled {
  background-position: 0 -90px;
}

.navigation-slide {
  cursor: pointer;
  text-align: center;
}

.navigation-slide-a {
  color: #fff !important;
  text-decoration: none !important;
}
/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#copyrights p {
  margin-bottom: 5px;
}

#copyrights a {
  color: #F1C40F;
}
.credits {
  color: #999;
}
